* {
  box-sizing: border-box;
  font-family: DexaPro, Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  min-height: 100dvh;
}
input {
  outline: none;
}

@keyframes timeLineLoader {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
