:root,
body {
  --gray: #f2f2f2;
  --gray-600: #cbcbcb;
  --gray-620: #b7b6b6;
  --gray-650: #c7c7c7;
  --gray-700: #656565;
  --blue-600: #033479;
  --blue: #0b5ad0;
  --blue-300: #b5c7e3;
  --blue-500: #5179b1;
  --blue-700: #3b73c1;
  --blue-900: #212023;
  --white: #fff;
  --black: #000;
  --red: #d91010;
  --transparent-gray: #4b4b4b52;

  /* alert color*/
  --alert-blue-dark: #447eaf;
  --alert-blue-light: #cde8f6;
  --alert-red-dark: #b83c37;
  --alert-red-light: #ecc8c5;
  --alert-green-dark: #1f7d00;
  --alert-green-light: #afc3a7;

  /* media break points */
  --break-point-small-phone: 320px;
  --break-point-large-phone: 481px;
  --break-point-small-tablet: 601px;
  --break-point-large-tablet: 769px;
  --break-point-small-desktop: 1025px;
  --break-point-large-desktop: 1281px;
  --break-point-extra-large-desktop: 1441p;
}
