:root {
  --gray: #f2f2f2;
  --gray-600: #cbcbcb;
  --blue-600: #033479;
  --blue: #0b5ad0;
  --blue-900: #212023;
  --white: #fff;
  --black: #000;
  --red: #d91010;
  --transparent-gray: #4b4b4b52;
}
